GEMINI_API_KEY=abcd-1234
GEMINI_MODEL="gemini-3.5-flash-lite"

# auth token only used when running Dev UI
# https://learn.microsoft.com/en-us/agent-framework/integrations/by-component/ui/devui/?pivots=programming-language-python
DEVUI_AUTH_TOKEN=